.main__title {
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main__title {
        width: 80%;
        font-size: 40px;
    }
}